<div class="timepicker">
  <ul class="nav nav-tabs" role="tablist" ng-init="tab = 'filter'">
    <li ng-class="{active:tab== 'filter'}">
      <a href ng-click="tab = 'filter'">Time Filter</a>
    </li>
    <li ng-class="{active:tab== 'interval'}">
      <a href ng-click="tab = 'interval'">Refresh Interval</a>
    </li>
  </ul>

  <div class="tab-content">
    <!-- Filters -->
    <div ng-show="tab == 'filter'" role="tabpanel" class="tab-pane active">
      <br>
      <div class="row">
        <div class="col-md-2">
          <ul class="nav nav-pills nav-stacked">
            <li ng-class="{active: timepicker.mode=='quick'}">
              <a href ng-click="timepicker.setMode('quick')">Quick</a>
            </li>
            <li ng-class="{active: timepicker.mode=='relative'}">
              <a href ng-click="timepicker.setMode('relative')">Relative</a>
            </li>
            <li ng-class="{active: timepicker.mode=='absolute'}">
              <a href ng-click="timepicker.setMode('absolute')">Absolute</a>
            </li>
          </ul>
        </div>

        <div class="col-md-10">
          <div ng-switch on="timepicker.mode" class="container-fluid">

            <div ng-switch-when="quick">
              <div ng-repeat="list in timepicker.quickLists" class="timepicker-section">
                <ul class="list-unstyled">
                  <li ng-repeat="option in list">
                    <a href ng-click="timepicker.setQuick(option.from, option.to)">{{ option.display }}</a>
                  </li>
                </ul>
              </div>
            </div>

            <div ng-switch-when="relative">
              Relative filters go here
            </div>

            <div ng-switch-when="absolute">
              Absolute filters go here
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- Refresh Intervals -->
    <div ng-show="tab == 'interval'" role="tabpanel" class="tab-pane active">
      Refresh intervals go here.
    </div>
  </div>
</div>
