
// custom bootstrap build
@import "./_bootstrap.less";

// theme
@import "./theme/variables.less";
@import "./theme/bootswatch.less";

.services-overview {

  .panel {
    background: lightgray;
    float: left;
    margin: 15px;
    overflow: hidden;
  }
}
