<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">

    <!-- Collapse button and "brand" -->
    <div class="navbar-header">
      <button ng-click="navbar.isCollapsed=!navbar.isCollapsed" type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img style="width=22px" src="styles/bonito-18px.png" alt="Bonito logo">Bonito</a>
    </div>

    <!-- Links -->
    <div collapse="navbar.isCollapsed" class="navbar-collapse" id="bonito-navbar">
      <ul class="nav navbar-nav">
        <li ng-repeat="page in navbar.pages" ng-class="{active: navbar.activePage.path === page.path}">
          <a ng-href="#{{page.path}}">{{ page.name }}</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="right-buttons">
            <button type="button" class="btn btn-link"
                ng-click="navbar.toggleTimepicker()">
              <i class="fa fa-clock-o"></i>
              {{ navbar.timefilter.display }}
            </button>
          </div>
        </li>
      </ul>
    </div>
    <!-- /Full navbar -->


  </div>
</nav>

<!-- timepicker -->
<config visible="navbar.timepickerVisible">
  <bonito-timepicker></bonito-timepicker>
</config>

<!-- Sub navbar -->
<nav ng-show="navbar.activePage.subPages.length > 0" class="navbar navbar-inverse navbar-static-top" id="bonito-subnav">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li ng-repeat="subpage in navbar.activePage.subPages" ng-class="{active: navbar.activePage.activeSubpage.path === subpage.path}">
        <a ng-href="#{{navbar.activePage.path}}/{{subpage.path}}">{{ subpage.name }}</a>
      </li>
    </ul>
    <div ng-transclude></div>
  </div>
</nav>
<!-- /Sub-navbar -->
