<div ng-controller="performanceDashboard as perfDash" class="bonito-perf-dash">
  <navbar></navbar>
  <div class="container-fluid">
    <div class="row section-platform">
      <div class="col-md-2">
        <h3>Platform</h3>

        <table class="table table-condensed">
          <tr ng-repeat="metric in perfDash.metrics">
            <th>{{ metric.display.name }}</th>
            <td>
              <span class="{{metric.display.class}}">
                {{ metric.display.value }}
              </span>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-6 bnt-rpm-graph">
            <bonito-panel title="'Volume'">
              <bonito-linechart
                height="200"
                ylabel="Requests/s"
                data="perfDash.volumeData">
              </bonito-linechart>
            </bonito-panel>
          </div>
          <div class="col-md-6 bnt-errors-rate-graph">
            <bonito-panel title="'Errors rate'">
              <bonito-linechart
                class="errors"
                height="200"
                ylabel="Errors/k"
                type="area"
                data="perfDash.errorsData">
              </bonito-linechart>
            </bonito-panel>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 bnt-responsetime-50th">
            <bonito-panel title="'Response times: 50th percentile'">
              <bonito-linechart
                height="200"
                ylabel="Response time 50th"
                datatype="duration"
                data="perfDash.rt50thData">
              </bonito-linechart>
            </bonito-panel>
          </div>
          <div class="col-md-6 bnt-responsetime-99th">
            <bonito-panel title="'Response times: 99th percentile'">
              <bonito-linechart
                height="200"
                ylabel="Response time 99th"
                datatype="duration"
                data="perfDash.rt99thData">
              </bonito-linechart>
            </bonito-panel>
          </div>
        </div>
      </div>
    </div>

    <div class="row" ng-repeat="dimension in perfDash.dimensions"
        ng-class="'dimension-' + dimension.name">
      <div class="col-md-2">
        <h3>{{ dimension.display.section }}</h3>

        <table class="table table-condensed">
          <tr ng-repeat="metric in dimension.metrics">
            <th>{{ metric.display.name }}</th>
            <td>
              <span class="{{metric.display.class}}">
                {{ metric.display.value }}
              </span>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-6 bnt-dimension-graph"
              ng-repeat="viz in dimension.viz">
            <bonito-panel title="viz.display.title">
              <bonito-barchart
                height="200"
                data="viz.values">
              </bonito-barchart>
            </bonito-panel>
          </div>
        </div>
    </div>

  </div>
</div>
