<div ng-controller="ServicesListCtrl as app">
  <navbar>
    <!-- this goes into the sub-navbar -->
    <ul class="nav navbar-nav navbar-right">
      <li>
        <form class="panels-quick-filter has-feedback">
          <div class="form-group">
            <input type="search" class="form-control input-sm"
              placeholder="Filter services.." ng-model="app.filter"
              ng-change="app.updateFilter()"
              kb-focus="filter" />
              <i class="fa fa-search form-control-feedback"></i>
          </div>
        </form>
      </li>
      <li>
        <div class="right-buttons">
          <button type="button" class="btn btn-link"
              tooltip="Settings" tooltip-placement="bottom"
              ng-click="app.configToggle()">
            <i class="fa fa-2x fa-cog"></i>
          </button>
        </div>
      </li>
    </ul>
  </navbar>

  <config visible="app.configVisible">
    <ng-include src="'services-list-config.html'"></ng-include>
  </config>

  <div class="services-list container-fluid"
       infinite-scroll='app.loadMore()' infinite-scroll-distance="1">

    <div ng-repeat="panel in app.panels" class="bpanel"
      ng-style="{width: app.panelWidth + 'px'}">

      <bonito-panel panel-title="panel.name">
        <bonito-linechart
          height="app.panelHeight" data="panel.values"
          ylabel="Requests/s"
          planet-size="panel.size_rel">
        </bonito-linechart>

        <table class="table table-condensed" style="width:50%;float:left">
          <tr>
            <th>Volume</th>
            <td><span ng-class="panel.metrics.volume|humanNumberClass">{{ panel.metrics.volume|humanNumber }}/s</span></td>
          </tr>
          <tr>
            <th>Hosts</th>
            <td><span ng-class="panel.metrics.secondary_count|humanNumberClass">{{ panel.metrics.secondary_count|humanNumber }}</span></td>
          </tr>
          <tr>
            <th>Per Host</th>
            <td><span
            ng-class="panel.metrics.volume/panel.metrics.secondary_count|humanNumberClass">{{panel.metrics.volume/panel.metrics.secondary_count|humanNumber:0}}/s</span></td>
          </tr>
          <tr>
            <th>Errors/1K</th>
            <td><span ng-class="panel.metrics.errors_rate|humanNumberClass">{{ panel.metrics.errors_rate*1000|humanNumber:0 }}</span></td>
          </tr>
        </table>
        <table class="table table-condensed" style="width:50%;">
          <tr>
            <th>Max</th>
            <td><span ng-class="panel.metrics.rt_max|humanDurationClass">{{ panel.metrics.rt_max|humanDuration }}</span></td>
          </tr>
          <tr>
            <th>99p</th>
            <td><span ng-class="panel.metrics['rt_99.0p']|humanDurationClass">{{ panel.metrics['rt_99.0p']|humanDuration }}</span></td>
          </tr>
          <tr>
            <th>90p</th>
            <td><span ng-class="panel.metrics['rt_90.0p']|humanDurationClass">{{ panel.metrics['rt_90.0p']|humanDuration }}</span></td>
          </tr>
          <tr>
            <th>50p</th>
            <td><span ng-class="panel.metrics['rt_50.0p']|humanDurationClass">{{ panel.metrics['rt_50.0p']|humanDuration }}</span></td>
          </tr>
          <tr>
            <th>Mean</th>
            <td><span ng-class="panel.metrics.rt_avg|humanDurationClass">{{ panel.metrics.rt_avg|humanDuration }}</span></td>
          </tr>
        </table>

      </bonito-panel>
    </div>

    <!-- required by the infinite-scroll to correctly get it's height. See FAQ -->
    <div style='clear: both;'></div>
  </div>

</div>
