<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">

    <!-- Collapsed navbar -->
    <div class="navbar-header">
      <button ng-click="bonito.isCollapsed=!bonito.isCollapsed" type="button" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand visible-xs">{{ bonito.activePage.name }}
        <span ng-show="httpActive.length" class="spinner"></span>
      </span>
    </div>

    <!-- Full navbar -->
    <div collapse="bonito.isCollapsed" class="navbar-collapse" id="bonito-primary-navbar">
      <ul class="nav navbar-nav">
        <li ng-repeat="page in bonito.pages" ng-class="{active: bonito.activePage === page}">
          <a ng-href="#{{page.path}}">{{ page.name }}</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
          <!-- TODO: settings and time picker -->
      </ul>
    </div>
    <!-- /Full navbar -->
  </div>
</nav>
