<form class="config-form services-list-config">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
            <label for="panelsPerRow">Panels per row</label><br />
            <label class="radio-inline">
              <input type="radio" name="panelsPerRow" ng-model="app.perRow" ng-change="app.updatePerRow()" value="1"> 1
            </label>
            <label class="radio-inline">
              <input type="radio" name="panelsPerRow" ng-model="app.perRow" ng-change="app.updatePerRow()" value="2"> 2
            </label>
            <label class="radio-inline">
              <input type="radio" name="panelsPerRow" ng-model="app.perRow" ng-change="app.updatePerRow()" value="4"> 4
            </label>
            <label class="radio-inline">
              <input type="radio" name="panelsPerRow" ng-model="app.perRow" ng-change="app.updatePerRow()" value="6"> 6
            </label>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="sortOrder">Sort order</label><br />

          <div class="radio">
            <label>
              <input type="radio" name="sortOrder" ng-model="app.sortOrder" ng-change="app.updateSortOrder()" value="errors"> Error rate then volume
            </label>
          </div>

          <div class="radio">
            <label>
              <input type="radio" name="sortOrder" ng-model="app.sortOrder" ng-change="app.updateSortOrder()" value="volume"> Volume
            </label>
          </div>

          <div class="radio">
            <label>
              <input type="radio" name="sortOrder" ng-model="app.sortOrder" ng-change="app.updateSortOrder()" value="alpha"> Alphabetical
            </label>
          </div>

          <div class="radio">
            <label>
              <input type="radio" name="sortOrder" ng-model="app.sortOrder" ng-change="app.updateSortOrder()" value="max"> Response time maximum
            </label>
          </div>

          <div class="radio">
            <label>
              <input type="radio" name="sortOrder" ng-model="app.sortOrder" ng-change="app.updateSortOrder()" value="99p"> Response time 99th percentile
            </label>
          </div>

          <div class="radio">
            <label>
              <input type="radio" name="sortOrder" ng-model="app.sortOrder" ng-change="app.updateSortOrder()" value="95p"> Response time 95th percentile
            </label>
          </div>

          <div class="radio">
            <label>
              <input type="radio" name="sortOrder" ng-model="app.sortOrder" ng-change="app.updateSortOrder()" value="50p"> Response time 50th percentile
            </label>
          </div>

          <div class="radio">
            <label>
              <input type="radio" name="sortOrder" ng-model="app.sortOrder" ng-change="app.updateSortOrder()" value="avg"> Response time average
            </label>
          </div>

        </div>
      </div>
    </div>
  </div>
</form>
