<div ng-controller='ServicesListCtrl as app'>
  <navbar>
    <!-- this goes into the sub-navbar -->
    <ul class="nav navbar-nav navbar-right">
      <li>
        <form class="panels-quick-filter has-feedback">
          <div class="form-group">
            <input type="search" class="form-control input-sm"
              placeholder="Filter services.." ng-model="app.filter" ng-change="app.updateFilter()" />
              <i class="fa fa-search form-control-feedback"></i>
          </div>
        </form>
      </li>
      <li>
        <div class="right-buttons">
          <button type="button" class="btn btn-link"
              tooltip="Settings" tooltip-placement="bottom"
              ng-click="app.configToggle()">
            <i class="fa fa-2x fa-cog"></i>
          </button>
        </div>
      </li>
    </ul>
  </navbar>

  <config visible="app.configVisible">
    <ng-include src="'services-list-config.html'"></ng-include>
  </config>

  <div class="services-list container-fluid"
       infinite-scroll='app.loadMore()' infinite-scroll-distance="1">

    <div ng-repeat="panel in app.panels" class="bpanel"
        ng-style="{width: app.panelWidth + 'px'}">

      <div class="bpanel-header">
        <span class="name">
          {{ panel.name }}
        </span>
      </div>

      <svggraph height="app.panelHeight" data="panel.values"></svggraph>

        <table class="table table-condensed" style="width:50%;float:left">
          <tr>
            <th>Volume</th>
            <td>{{ panel.size|humanNumber:0 }}/s</td>
          </tr>
          <tr>
            <th>Hosts</th>
            <td>42</td>
          </tr>
          <tr>
            <th>Per Host</th>
            <td>{{ panel.size/42|humanNumber:0 }}</td>
          </tr>
          <tr>
            <th>Errors/1000</th>
            <td>{{ panel.errors|humanNumber:0 }}</td>
          </tr>
        </table>
        <table class="table table-condensed" style="width:50%;">
          <tr>
            <th>Max</th>
            <td>1.1s</td>
          </tr>
          <tr>
            <th>99p</th>
            <td>123ms</td>
          </tr>
          <tr>
            <th>95p</th>
            <td>10ms</td>
          </tr>
          <tr>
            <th>50p</th>
            <td>1ms</td>
          </tr>
          <tr>
            <th>Mean</th>
            <td>23ms</td>
          </tr>
        </table>

    </div>

    <!-- required by the infinite-scroll to correctly get it's height. See FAQ -->
    <div style='clear: both;'></div>
  </div>

</div>
